 *{

   margin:0px;
   padding:0px;
   }


div#general{
   margin-top:50px;
   width:600px;
   height:400px;
   background-color:blue;
   }

div#entrada{
   float:center;
   width:400px;
   heigth:200px;
   background-color:blue;
   }

div#salida{
   width:1200;
   heigth:1250;
   background-color:green;
   }
    